.footer{
  max-width:100%;
  background-color: #003062;
  color: var(--light);
  // font-family: "Helvetica Neue Lt, Helvetica Neue, Hevetica, Arial, sans-serif";
}


.footerTop {
  max-width:80%;
  width:80%;
  background-color: #003062;
  color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1440px;
  margin:0px auto;
  position: 'absolute'; left: '50%'; top: '50%';
  a{
      color: var(--light)
  }
}

h2 {
  color:#ffffff;
  font-size:18px;
  margin-bottom:10px;
}

.footer_listItem {
  line-height:24px;
  font-weight:300;
  color:#999999;
  list-style: none;

  a {
    color:#999999;
  }
  a:hover {
    color:#ffffff;
    text-decoration: none;
  }  
  li {
    color:#999999;
    font-size:13px;
  }
  pre {
    color:#999999;
    font-family: "Helvetica Neue, Hevetica, Arial, sans-serif";
    display:inline-flex;
  }
}

.footerCopyright {
  max-width:100%;
  border-top: 1px solid #003D7C;
  background-color: #003062;
  color: #999999;
  padding: 40px 0;
  text-align: center;
  font-weight: 300;
  display:flex;
  font-size:20px;

  a{
    color: #999999;

  }
  a:hover {
    color:#ffffff;
    text-decoration: none;
  }
}

.footerBottom {
  font-size: 12px;
  display: flex;
  justify-content: center;
  line-height: 15px;;
}

.icon {
  color:#ffffff;
  margin-left:20px;
  margin-right:20px;
  width:10px;
}

.img {
  margin:50px 5px;
  height:32px;
  width:32px;
}

.pseudoIcon {
  margin: 5px 15px;
  font-size:5px;
}

